StockManger.Presentation/StockManager.Web_/obj/
StockManger.Presentation/StockManager.Web_/Bin/
StockManger.Presentation/StockManager.Web.UI/obj/Debug/vi-vn/StockManager.Web.resources.dll
StockManger.Presentation/StockManager.Web.UI/obj/
StockManger.Presentation/StockManager.Web.UI/bin/
StockManger.Presentation/StockManager.Web.Framework/obj/
StockManger.Presentation/StockManager.Web.Framework/bin/
StockManager.Entity/obj/
StockManager.Entity/bin/
StockManager.Data/obj/
StockManager.Data/bin/
StockManager.Business/obj/
StockManager.Business/bin/
Common/Common/bin/
Common/Common/obj/
Common/Common.UnitTest/bin/
Common/Common.UnitTest/obj/
Common/Common.Contract/bin/
AppConfig/obj/
AppConfig/bin/
Common/Common.Contract/obj/
